<html xmlns:th="http://www.thymeleaf.org">

<!-- --------------------------------------- COMMON FOOTER used for CORE LAYOUT START --------------------------------------- -->
	 <th:block th:fragment="core_footer">
				 <footer class="main-footer">
		    <div class="float-right d-none d-sm-block">
		      <b>Version</b> 3.2.0
		    </div>
		    <strong>Copyright &copy; <span id="year">a</span>-<span id="nextYear">b</span> Kuwait National Guards Medical Service Directorate.All rights reserved.</strong> 
		  </footer>
		  
		  <!-- Control Sidebar -->
		  <aside class="control-sidebar control-sidebar-dark">
		    <!-- Control sidebar content goes here -->
		  </aside>
		  <!-- /.control-sidebar -->
		
		  
		 <script>
		    var d = new Date();
		    var year = d.getFullYear();
		    var nextYear = year + 1;
		    document.getElementById("year").textContent = year;
		    document.getElementById("nextYear").textContent = nextYear;
		</script>

	  </th:block>
<!-- --------------------------------------- COMMON FOOTER used for CORE LAYOUT END --------------------------------------- -->


</html>